body {
  background-color: rgb(229, 223, 234);
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  text-align: center;
}

form {
  display: flex;
}

.form-container {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  padding: 26px;
  border-radius: 12px;
}

.instruction {
  width: 80%;
  padding: 15px;
  border-radius: 40px;
  color: #74589a;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #6f46a6;
}

.submit-button {
  padding: 12px 20px;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  border: none;
  margin-left: 5px;
  border-radius: 40px;
  background-color: rgb(184, 137, 224);
  color: white;
}

form {
  display: flex;
}

.form-container {
  background: #fbfaff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px;
  margin-bottom: 30px;
}

.hint {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 15px;
  opacity: 0.6;
}

.hidden {
  display: none;
}

#song-container {
  background-color: #fbfaff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  line-height: 1.5;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

#generating {
  animation: typing 1s steps(10, end) infinite;
}

.song-lyrics {
  padding-bottom: 0;
}

#disclaimer {
  font-size: 12px;
  border-top: 0.5px dashed #6f46a6;
  opacity: 0.7;
  padding-top: 20px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

#links {
  text-decoration: underline !important;
}
